image: golang:1.23

stages:
  - build
  - test

build:
  stage: build
  script:
    - go build -o hello .
  artifacts:
    paths:
      - hello

test:
  stage: test
  script:
    - go test -v .
    - ./hello
